body {
  margin: 2em;
  max-width: 72ch;
  line-height: 1.35em;
}
.nav a {
  display: inline-block;
  padding-left:  0.5em;
  padding-right: 0.5em;
  white-space: nowrap;
  line-height: 1.5em;
}
.nav {
  border: 1px #ddd solid;
  padding: 0.5em;
  background-color: #f7f7f7;
  text-align: center;
}
